@page "/"

@inject NavigationManager _navigation
@inject AuthenticationStateProvider _authStateProvider
@inject ILanguageContainerService language
@attribute [Authorize]

<MudPaper Height="100%" Width="100%">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-5">@language["Dashboard"]</MudText>
        <MudGrid>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Sms" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">SMS Credit</MudText>
                        <MudText Typo="Typo.h5">3,125,000</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Message" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total SMS Sent</MudText>
                        <MudText Typo="Typo.h5">150,000</MudText>
                    </div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudPaper>

@code{
    @*protected async override Task OnInitializedAsync()
    {
        var authState = await _authStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated != true)
        {
            _navigation.NavigateTo("/login");
        }
    }*@
}
